/* CarDeltasGraphic.css */
.car-container {
    @apply flex flex-col-reverse items-center; /* Use flex-col-reverse to move names above cars */
    @apply flex-shrink; /* Adjust shrinking behavior */
}

.car-image {
    @apply max-w-full;
    width: 80%;
    height: auto;
    transform: scaleX(-1); /* Keep flipping the car image */
}

.driver-name {
    font-size: calc(0.8vw + 0.8vh); /* Scale text size */
    text-transform: capitalize; /* Ensure names are capitalized */
    @apply text-white mb-2; /* Add margin below the name */
}

.delta-time {
    font-size: calc(0.8vw + 0.8vh); /* Scale delta time text size */
    @apply text-white;
}

.delta-time-ahead {
    @apply text-red-500;
}

.delta-time-behind {
    @apply text-green-500;
}

.car-deltas-container {
    @apply w-full h-full flex justify-center items-center space-x-8; /* Adjust spacing between cars */
}
