/* CarDeltasGraphic.css */
.car-container {
    @apply flex flex-col items-center;
    @apply flex-shrink;
}

.car-image {
    @apply max-w-full;
    width: 80%;
    height: auto;
    transform: scaleX(-1);
}

.driver-info {
    @apply flex flex-row items-center mb-2;
}

.driver-position {
    @apply bg-gray-700 bg-opacity-75 text-white text-lg font-bold px-3 py-1 rounded-full mr-2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.driver-name {
    font-size: calc(1vw + 1vh);
    text-transform: capitalize;
    @apply text-white;
}

.delta-time {
    font-size: calc(0.8vw + 0.8vh);
    @apply text-white;
}

.delta-time-ahead {
    @apply text-red-500;
}

.delta-time-behind {
    @apply text-green-500;
}

.car-deltas-container {
    @apply w-full h-full flex justify-center items-center space-x-8;
}
