.timings-panel {
    @apply flex flex-col justify-center items-center bg-gray-800 rounded-lg border-2 border-gray-600 text-white w-full h-full p-12;
    padding-top: 15px;
    padding-bottom: 20px;
}

.lap-info {
    @apply w-full mb-12;
}

.car-deltas-row {
    @apply flex justify-center items-center w-full h-auto;
    margin-top: 40px;
}
